.row {
    display: flex;
    justify-content: space-evenly;
  }
  
 
  .button {
    
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 0px 0px #899599;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color:#ededed;
    border:1px solid #d6bcd6;
    cursor:pointer;
    color:#449db3;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
    
    }
   
    .button:hover {
        background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
        background-color:#bab1ba;
    }
    .button:active {
        position:relative;
        top:1px;
    }
    
            
  
