@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
.calculator {
   
    height: 50vh;
    width: 80vw;
    margin: auto;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 20% 16% 16% 16% 16%;
  }
  
  .calculator .row {
    display: flex;
    justify-content: space-evenly;
  }
  
  .onButton{
    color: rgb(58, 63, 211);
  }
  .offButton{
    color: rgb(219, 82, 82)
  }
  

  .displayBar{
    border: 10px solid #888080;
    background-color: rgba(201, 243, 229, 0.904);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
  }
  