.calculator {
   
    height: 50vh;
    width: 80vw;
    margin: auto;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 20% 16% 16% 16% 16%;
  }
  
  .calculator .row {
    display: flex;
    justify-content: space-evenly;
  }
  
  

  .displayBar{
    border: 10px solid #888080;
    background-color: rgba(201, 243, 229, 0.904);
  }
  